*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100%;
}

.main-section-cards--container{
    width: 95%;
    max-width: 1300px;
    min-width: 320px;
    height: auto;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-auto-rows: 500px;
    justify-content: center;
}

.section-card--item{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto 2fr auto;
    border: 1px solid #f9f;
    border-radius: 10px;
}

.title--container{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px;
}

.title--container .title-image--container {
    width: 50px;
    height: 50px;
}

.title--container .title-image--container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.title--container .title-text--container{
    display: flex;
    flex-direction: column;
}

.title--container .title-text--container h1{
    font-size: 1.8rem;
    line-height: 2rem;
    color: black;

}

.secondary-text{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: gray;
}
.description-card--conatiner .image-card--container {
    width: 100%;
    height: 80%;
}
.description-card--conatiner .image-card--container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description-card--conatiner p{
    margin: 8px 12px;
}

.footer-card--container{
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.primary--enlace{
    text-decoration: none;
    font-size: 1.6rem;
    color: violet;
}
.footer-card--container .enlaces-card--container a:nth-child(2){
    margin-left: 8px;
}

.icon-favorite span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./assets/icons/favorite.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-share span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./assets/icons/share.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-card--container .icons-card--conatiner a:nth-child(2){
    margin-left: 8px;
}


