:root{
    --color-font: #FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}
html{
    font-size: 62.5%;
    height: 100%;
}
main{
    width: 100%;
    min-width: 320px;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #730015 0%, rgba(101, 0, 137, 1) 66.49%);
}


.reproductor--container{
    width: 100%;
    min-width: 320px;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-rows:auto 1fr auto 1fr;
    text-align: center;
}

.title--container{
    margin-top: 34px;
}

.title--container h2{
    color: var(--color-font);
    font-size:2.4rem ;
    font-weight: lighter;
}
.music-image-container {
    margin-top: 32px;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.music-image-container::-webkit-scrollbar{
    display: none;
}

.music-image-container figure{
    min-width: 100%;
    height: 188px;
    scroll-snap-align: start;
}

.music-image-container figure img{
    width: 188px;
    height: 188px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -2px -2px 10px #fff, 5px 5px 10px #000;
}

.music-information--container{
    width: 100%;
    margin-top: 57px;
}
.music-information--container h1{
    color: var(--color-font);
    font-size: 1.6rem;
    line-height: 1.8rem;
}
.music-information--container h2{
    color: var(--color-font);
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-top: 8px;
}
.progresbar--container{
    position: relative;
    width: 80%;
    max-width: 400px;
    min-width: 256px;
    height: 0.3rem;
    margin: 0 auto;
    margin-top: 12px;
    background-color: #915656;
}

.progresbar-actual{
    position: absolute;
    width: 120px;
    height: 0.3rem;
    background-color: red;
}

.progresbar-actual::after{
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #ededed;
    border-radius: 50%;
    right: -5px;
    top: -3px;
}

.time--container{
    width: 80%;
    max-width: 400px;
    min-width: 256px;
    margin: 0 auto;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.time--container span{
    color: var(--color-font);
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 700;
}

.controls--container{
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.controls--container a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #411052;
    border-radius: 50%;
    box-shadow: -2px -2px 10px #fff,
                2px 2px 10px #000;
}
.controls--container a.icon-play{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #411052;
    border-radius: 50%;
    box-shadow: -2px -2px 20px #fff,
                2px 2px 10px #000;
}

.controls--container a.icon-play span{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 12px;
    background-image: url('./assets/icons/Polygon\ 1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.controls--container a:nth-child(1) span,
.controls--container a:nth-child(5) span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 6px;
    background-image: url('./assets/icons/Polygon\ 3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.controls--container a:nth-child(2) span,
.controls--container a:nth-child(4) span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 6px;
    background-image: url('/assets/icons/Polygon\ 2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.controls--container a:nth-child(3){
    transform: translateY(30px);
}

.controls--container a:nth-child(1),
.controls--container a:nth-child(5){
    transform: translateY(-15px);
}