.container{
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
    gap: 15px;
}
.container div{
    border-radius: 20px;
}
.uno{
    background-color: aqua;
    border: 2px solid rgb(154, 230, 230);
}
.dos{
    background-color:  rgb(255, 0, 0);
    border: 2px solid rgb(230, 154, 154);
    grid-column: 2/4;
}
.tres{
    background-color: rgb(38, 0, 255);
    border: 2px solid rgb(155, 154, 230);
    grid-column: 1/3;
}
.cuatro{
    background-color: rgb(255, 0, 212);
    border: 2px solid rgb(230, 154, 224);
}
.cinco{
    background-color: rgb(0, 255, 21);
    border: 2px solid rgb(154, 230, 154);
}
.seis{
    background-color: rgb(251, 255, 0);
    border: 2px solid rgb(230, 229, 154);
}
.siete{
    background-color: rgb(119, 0, 255);
    border: 2px solid rgb(154, 181, 230);
}