* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
    width: 600px;
    height: 400px;
    background: #134E5E;
    background: -webkit-linear- gradient(to right, #71B280, #134E5E);
    background: linear-gradient(to right, #71B280, #134E5E);
    border: 8px solid brown;
    border-radius: 20px;
}
.container:hover .circle--container{
    border-color: transparent;
    transition: 0.3s;
} 

.container:hover .palo--conatiner{
    transform: translateX(-150px);
    transition: transform 1.3s ease;
    transition-delay: 0.5s;
}

.container:hover .ca{
    transform: translate(-65px, -35px);
    transition: transform 1s ease;
    transition-delay: 1s;
}

.container:hover .cb{
    transform: translate(-90px, 35px);
    transition: transform 1s ease;
    transition-delay: 1s;
}

.container:hover .cc{
    transform: translate(-65px, 35px);
    transition: transform 1s ease;
    transition-delay: 1s;
}

.container:hover .cd{
    transform: translate(-130px, -24px);
    transition: transform 1s ease;
    transition-delay: 1s;
}

.container:hover .ce{
    transform: translate(-70px, 95px);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.container:hover .cf{
    transform: translate(65px, 35px);
    transition: transform 1s ease-out;
    transition-delay: 1.2s;
}

.container:hover .cg{
    transform: translate(70px, 71px);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.container:hover .ch{
    transform: translate(65px, 35px);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.container:hover .ci{
    transform: translate(65px, 55px);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}


.circle--container {
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: rotate(45deg);
    margin-left: 55px;
    border: 4px solid brown; 
    padding: 11px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.ca {
    background-color: aqua;

}

.cb {
    background-color: rgb(132, 255, 0);
}

.cc {
    background-color: rgb(255, 0, 0);
}

.cd {
    background-color: rgb(195, 0, 255);
}

.ce {
    background-color: rgb(120, 141, 0);
}

.cf {
    background-color: rgb(255, 162, 0);
}

.cg {
    background-color: rgb(0, 255, 110);
}

.ch {
    background-color: rgb(72, 72, 72);
}

.ci {
    background-color: rgb(7, 7, 7);
}

.palo--conatiner{
    width: 190px;
    height: 15px;
    display: flex;
    margin-left: 110px;
}

.mango{
    width: 20%;
    height: 100%;
    background-color: black;
}

.palo{
    width: 80%;
    height: 100%;
    background-color: brown;
}

