*{
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 10px 0px;
    background-color: gray;
    color: white;
    border-left: 1px solid black;
  }
  .nav {
    display: flex;
  }
  .nav a:hover{
    opacity: 0.9;
  }
  .nav li ul {
    display: block;
    opacity: 0;
    display: none;
    transition: opacity 400ms;
    transition-delay: 300ms;
  }
  .nav li:hover > ul {
    display: block;
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 300ms;
  }

  

 