*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}
body, html{
    height: 100%;
}

.parallax--container{
    width: 100%;
    height: 100vh;
    perspective: 8px;
    perspective-origin: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    background-color: black;
}
.parallax--container::-webkit-scrollbar{
    display: none;
}

.parallax--container img{
    width: 100%;
    height: 100%;
}


.image{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: 0 50%;
}

.img--background{
    height: auto;
    width: 100%;
    transform: translateZ(0px) scale(1);
    transform-origin: 0 50%;
}

.img--middle{
    height: 100%;
    width: 100%;
    transform: translateZ(-10px) scale(2.25);
    transform-origin: 50%;
}

.image--foreground{
    transform: translateZ(1px) scale(0.875);
    transform-origin: top;
}

.card--container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 400px;
    background-color: rgb(0 0 0 / 69%);
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% + 900px);

}

.card--container div{
    width: 70%;
    height: 80%;
    background-color: rgba(215, 18, 237, 0.398);
    display: grid;
    place-items: center;
}

.card--container h1{
    font-size: 22px;
    color: white;
    text-align: center;
}

.card{
    position: absolute;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.card:nth-child(1){
    width: 40px;
    height: 40px;
    left: 10%;
    top: 20%;
}

.card:nth-child(2){
    left: 40%;
    top: 10%;
}
.card:nth-child(3){
    width: 40px;
    height: 40px;
    left: 60%;
    top: 30%;
}
.card:nth-child(4){
    width: 90px;
    height: 90px;
    left: 21%;
    top: 35%;
}
.card:nth-child(5){
    left: 80%;
    top: 45%;
}
.card:nth-child(6){
    left: 50%;
    top: 90%;
}
.card:nth-child(7){
    width: 20px;
    height: 20px;
    left: 90%;
    top: 45%;
}

.card:nth-child(8){
    width: 40px;
    height: 40px;
    left: 27%;
    top: 45%;
}

.card:nth-child(9){
    left: 40%;
    top: 62%;
}
.card:nth-child(10){
    width: 15px;
    height: 15px;
    left: 60%;
    top: 80%;
}
.card:nth-child(11){
    width: 70px;
    height: 70px;
    left: 22%;
    top: 70%;
}
.card:nth-child(12){
    left: 80%;
    top: 90%;
}
.card:nth-child(13){
    left: 50%;
    top: 180%;
}
.card:nth-child(14){
    width: 20px;
    height: 20px;
    left: 90%;
    top: 90%;
}

.img-horosc{
    transform: translateZ(-1px) scale(1);
    transform-origin: top;
    
}
.container{
    position: relative;
    width: 200px;
    height: 300px;
    cursor: pointer;
    /* Transformación 3D */
    transform-style: preserve-3d;
    transition: 2s;
  }

  .libra{
    left: 10%;
    top: 150px;
  }

  .leo{
    left: 42%;
    top: 150px;
  }

  .capricornio{
    left: 12%;
    top: 180px;
  }

  .cancer{
    left: 82%;
    top: -600px;
  }

  .acuario{
    left: 42%;
    top: 150px;
  }

  .tauro{
    left: 82%;
    top: -350px;
  }

  .img--container{
    width: 100%;
    height: 100%;
  }

  .img--container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }
  .container .front,
  .container .back
  {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
   /* ¡Prueba con lo que quieras!! */
    backface-visibility: hidden;
  }
  .container .front .card--containerr--bock div{
    position: static;
  }

  .container .card--containerr--bock{
    width: 100%;
    height: 100%;
    
  }
 .title--container{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(50, 116, 215, 0.493);
    border-radius: 20px 20px 0 0;
  }

  .container .front .card--containerr--bock .img--container{
    height: 80%;
  }

  .back{
    /* Transformación 2D */
    transform: rotateY(180deg);
  }
  
  .container:hover{
    transform: rotateY(180deg);
    transition: 1s;
  }
  .information-container {
    height: 80%;
    padding: 15px 10px;
    background-image: linear-gradient(to right bottom, #000000, #1c000f, #260021, #270039, #020658);
    border-radius: 0 0 20px 20px;
  }

  .information-container p{
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
  }


  