html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body{
    position: relative;
}
.main-blogs--container{
    width: 100%;
    height: auto;
}
main .blog-principal--container{
    width: 100%;
    height: auto;
    background-color: #e6e9ed;
}

main .principal--blog{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;  
}

main .principal--blog .blog-principal--right .img--principal{
    width: 85%;
}

main .principal--blog .blog-principal--right h2{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 2.1rem;
}

main .principal--blog .blog-principal--left{
    align-self: center;
}
.principal--blog .blog-principal--left h1{
    font-size: 3rem;
}

.principal--blog .blog-principal--left p{
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 25px;
}
.link-blog--leermas{
    display: inline-block;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 500;
    color: white;
    background-color: black;
    border: 1px solid #48cfad;
    padding: 10px;
    border-radius: 6px;
}
.link-blog--leermas:hover{
    color: #48cfad;
    border-color: azure;
   
}
.catalogo--container{
    width: 100%;
    text-align: center;
}

.catalogo--container .titulo--grilla{
    font-size: 2rem;
}

.catalogo--container .catalogo--grilla{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 15px;
    display: grid;
    row-gap: 25px;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(1fr, max-content));;
    border-top: 1px solid #cdd2da ;
    text-align: start;
}

.catalogo--grilla .div-item--container .img-item{
    width: 100%;
}
.catalogo--grilla .div-item--container h3{
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: bold;
}

.catalogo--grilla .div-item--container p{
    font-size: 1.8rem;
    line-height: 2rem;
}


footer.blogs--footer{
   
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

footer.blogs--footer div{
    width: 100%;
    text-align: center;
}

footer.blogs--footer div:first-child{
    background-color: #48cfad;

}

footer.blogs--footer div:last-child{
    color: white;
    font-size: 1.8rem;
    background-color: rgb(24, 23, 23);
}
