section.presentacion{
    width: 100%;
    height: 250px;
    background-color: #e6e9ed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

section.presentacion img{
    width: 200px;
}
section.presentacion div{
    width: 50%;
}
section.presentacion div h2{
    font-size: 3rem;
}

section.presentacion div p{
    font-size: 1.6rem;
    line-height: 2rem;
}

section.proyectos{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

section.proyectos p.title-proyet{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin: 25px 0 0 0;
}

section.proyectos .proyect-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 25px;
}

section.proyectos .proyect-container div{
    width: 30%;
    min-width: 250px;
}

section.proyectos .proyect-container h3{
    font-size: 2rem;
}

section.proyectos .proyect-container p{
    font-size: 1.8rem;
    line-height: 2rem;

}