:root{
    --black: #000000;
    --blue-dark: #14213d;
    --yellow: #fca311;
    --gray: #e5e5e5;
    --whithe: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}
.main-principal--container{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: linear-gradient(to left top, #000000, #10060b, #180d16, #1c1320, #1d182c, #2a283e, #383950, #474b63, #6d6e82, #9494a1, #bcbcc3, #e5e5e5);
    display: grid;
    place-items: center;
}

.book--container{
    width: 80%;
    min-width: 900px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.page-left--container,
.page-right--container{
    padding: 0 15px;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(20,1fr);
    gap: 10px;
    background-image: radial-gradient(circle, #fffffd, #f3f3f1, #e8e8e6, #dcdcda, #d1d1cf);
}

.page-left--container{
    
    box-shadow: inset -20px 0px 80px rgba(0,0,0,0.15),
                10px 0px 80px rgba(0,0,0,0.1),
                5px 12px 20px 1.5px rgba(0,0,0,0.71);
    border-radius: 0px 50px 50px 0px / 0px 6px 6px 0px;
}

.page-right--container{
    border-radius: 50px 0px 0px 50px / 6px 0px 0px 6px;
    box-shadow: 7px 15px 18px 1px rgba(0,0,0,0.9);
}

.item{
    background-color: var(--gray);
    position: relative;
}

.page-left--container .item:nth-child(1){
    grid-area: 8 / 2 / 14 / 4;
}

.page-left--container .item:nth-child(1)::after{
    content: "C";
    position: absolute;
    bottom: -150px;
    left: calc(50% - 30px);
    font-size: 80px;
}

.page-left--container .item:nth-child(2){
    grid-column: 8/10;
    grid-row: 2/7;
    transform: rotateY(10deg);
}
.page-left--container .item:nth-child(3){
    grid-area: 4 / 5 / 10 /7;
}

.page-left--container .item:nth-child(4){
    grid-area: 8 / 8 / 13 / 10;
}

.page-left--container .item:nth-child(5){
    grid-area: 13 / 5 / 19 / 7;
}

.page-left--container .item:nth-child(5)::before{
    content: "";
    position: absolute;
    top: -100px;
    left: calc(50% - 30px);
    font-size: 80px;
}

.page-left--container .item:nth-child(6){
    grid-area: 14 / 8 / 20 / 10;
}

.page-left--container .item:nth-child(6)::before{
    content: "N";
    position: absolute;
    top: -70px;
    right: -60px;
    font-size: 80px;
    transform: rotateY(50deg);
}


.page-right--container .item:nth-child(1){
    grid-column: 8/10;
    grid-row: 6/11;
    position: relative;
    transform: translateY(35px);
}

.page-right--container .item:nth-child(1)::after{
    content: "T";
    position: absolute;
    left: calc(50% - 18px);
    bottom: -150px;
    font-size: 80px;
}

.page-right--container .item:nth-child(1)::before{
    content: "N";
    position: absolute;
    left: -10px;
    top: -190px;
    font-size: 80px;
}

.page-right--container .item:nth-child(2){
    grid-column: 2/4;
    grid-row: 2/7;
    transform: translatex(70px);
}
.page-right--container .item:nth-child(3){
    grid-column: 5/7;
    grid-row: 3/8;
    transform: translatex(50px);
}

.page-right--container .item:nth-child(4){


    grid-column: 2/4;
    grid-row: 8/13;
    
    position: relative;
}

.page-right--container .item:nth-child(4)::before{
    content: "T";
    position: absolute;
    top: -100px;
    left: -50px;
    font-size: 80px;
    transform: rotatey(-40deg);
}

.page-right--container .item:nth-child(4)::after{
    content: "E";
    position: absolute;
    font-size: 80px;
    top: 40px;
    right: -80px;
}

.page-right--container .item:nth-child(5){
    grid-column: 5/7;
    grid-row: 11/16;
    transform: translatex(50px);
}

.page-right--container .item:nth-child(6){
    grid-column: 2/4;
    grid-row: 15/20;
    transform: translatex(50px) rotateY(-20deg);
}


.item img{
    width: 100%;
    height: 70px;
}

.item h1{
    font-size: 20px;
}
.item p{
    font-size: 8px;
}